# 实习三：非关系数据库
> 成员：罗逸龙2000017781  占可盈2000013136  范居令2000012942

## 第一题：窗口函数实现Alpha101量化因子

In [ ]:
import tushare as ts
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## set this to your tushare token
TUSHARE_TOKEN = "bd64f388adebe21dd43ab0d399352666593a145bdc6b92abcae33b3b"
ts.set_token(TUSHARE_TOKEN)
pro = ts.pro_api()

data = pro.daily(ts_code='600019.SH', start_date='20110101', end_date='20230101')

print(len(data))
print(data.head())

In [ ]:
%load_ext sql

In [ ]:
import pymysql 
pymysql.install_as_MySQLdb()
%sql mysql://stu2000012942:stu2000012942@162.105.146.37:43306

In [ ]:
%sql use stu2000012942

In [ ]:
%%sql

DROP TABLE IF EXISTS `tushare`;

CREATE TABLE `tushare` 
(
    `id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT, 
    `ts_code` VARCHAR(255) NOT NULL,
    `trade_date` VARCHAR(255) NOT NULL COMMENT 'date as YYYYMMDD',
    `open` DECIMAL(38, 10) NOT NULL,
    `high` DECIMAL(38, 10) NOT NULL,
    `low` DECIMAL(38, 10) NOT NULL,
    `close` DECIMAL(38, 10) NOT NULL,
    `pre_close` DECIMAL(38, 10) NOT NULL,
    `change` DECIMAL(38, 10) NOT NULL,
    `pct_chg` DECIMAL(38, 10) NOT NULL,
    `vol` DECIMAL(38, 10) NOT NULL,
    `amount` DECIMAL(38, 10) NOT NULL,
    PRIMARY KEY (`id`)
)ENGINE=InnoDB;

In [ ]:
STUDENTID = 'stu2000013136'
db = pymysql.connect(host='162.105.146.37',user=STUDENTID, password=STUDENTID, port=43306, db=STUDENTID)
cursor = db.cursor()

In [ ]:
# load data to sql
data_list = np.array(data, dtype=str).tolist()
print(data_list[0])

tablename = "tushare"
key_list = "ts_code, trade_date, open, high, low, close, pre_close, change, pct_chg, vol, amount" 
insert_sql = "INSERT INTO `tushare`\
(`ts_code`, `trade_date`, `open`, `high`, `low`, `close`, `pre_close`, `change`, `pct_chg`, `vol`, `amount`) VALUES\
(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
count = 0
for i in data_list:
    cursor.execute(insert_sql, i)
    count += 1

if count == len(data_list):
    db.commit()
else:
    db.rollback()
    print(count, len(data_list))

In [ ]:
%%sql
SELECT COUNT(*) FROM `tushare`;
SELECT * FROM `tushare` LIMIT 5;

### Alpha006
$$
\begin{aligned}
\Alpha_{006} =  -1 \times \text{correlation}(\text{open}, \text{volume}, 10)
\end{aligned}
$$

In [ ]:
%sql SELECT VERSION();

In [ ]:
%%sql
SELECT
    t2.ts_code,
    t2.trade_date,
    -1 * (t2.top / SQRT(t2.bottom_1 * t2.bottom_2)) AS `alpha006`
FROM (
    SELECT
        t1.ts_code,
        t1.trade_date,
        SUM((t1.open - t1.open_avg) * (t1.vol - t1.vol_avg))
            OVER (PARTITION BY t1.ts_code ORDER BY t1.trade_date ROWS BETWEEN 9 PRECEDING AND CURRENT ROW) AS `top`,
        SUM(POWER(t1.open - t1.open_avg, 2))
            OVER (PARTITION BY t1.ts_code ORDER BY t1.trade_date ROWS BETWEEN 9 PRECEDING AND CURRENT ROW) AS `bottom_1`,
        SUM(POWER(t1.vol - t1.vol_avg, 2))
            OVER (PARTITION BY t1.ts_code ORDER BY t1.trade_date ROWS BETWEEN 9 PRECEDING AND CURRENT ROW) AS `bottom_2`
    FROM (
        SELECT
            `ts_code`,
            `trade_date`,
            `open`,
            `vol`,
            AVG(`open`) OVER (PARTITION BY `ts_code` ORDER BY `trade_date` ROWS BETWEEN 9 PRECEDING AND CURRENT ROW) AS `open_avg`,
            AVG(`vol`) OVER (PARTITION BY `ts_code` ORDER BY `trade_date` ROWS BETWEEN 9 PRECEDING AND CURRENT ROW) AS `vol_avg`
        FROM `tushare`
        ORDER BY 
            ts_code,
            trade_date
    ) AS t1
    ORDER BY
        t1.ts_code,
        t1.trade_date
) AS t2
ORDER BY
    t2.ts_code,
    t2.trade_date
LIMIT 10
OFFSET 10;

### Alpha023
$$
\begin{aligned}
\Alpha_{023} = \Big((\sum(\text{high}, 20) / 20) < \text{high}\Big) ? \Big(-1 \times \delta(\text{high}, 2)\Big) : 0
\end{aligned}
$$

In [ ]:
%%sql

SELECT
    t1.ts_code,
    t1.trade_date,
    CASE
        WHEN (t1.sum / 20) < t1.high
        THEN t1.true
        ELSE 0
    END AS `alpha023`
FROM (
    SELECT
        ts_code,
        trade_date,
        high,
        SUM(`high`) OVER (PARTITION BY ts_code ORDER BY trade_date ROWS BETWEEN 19 PRECEDING AND CURRENT ROW) AS `sum`,
        high - LAG(high, 2) OVER (ORDER BY trade_date) AS `true`
    FROM `tushare`
) AS t1
ORDER BY
    t1.ts_code,
    t1.trade_date
LIMIT 10
OFFSET 20;

### Alpha041
$$
\begin{aligned}
\Alpha_{041} =  ((\text{high} \times \text{low})^{0.5}) - \text{vwap}
\end{aligned}
$$

In [ ]:
%%sql
SELECT 
    t1.ts_code,
    t1.trade_date,
    SQRT(t1.high * t1.low) - (t1.vwap_top / t1.vwap_bottom) AS 'alpha041'
FROM (
    SELECT
        ts_code,
        trade_date,
        high,
        low,
        SUM(`close` * `vol`) OVER (PARTITION BY trade_date) AS `vwap_top`,
        SUM(`vol`) OVER (PARTITION BY trade_date) AS `vwap_bottom`
    FROM `tushare`
    ORDER BY
        ts_code,
        trade_date
) AS t1
ORDER BY
    t1.ts_code,
    t1.trade_date
LIMIT 10;

### Alpha053
$$
\begin{aligned}
\Alpha_{053} =  -1 * \delta\Big(\big(((\text{close} - \text{low}) - (\text{high} - \text{close})) / (\text{close} - \text{low})\big), 9\Big)
\end{aligned}
$$

In [ ]:
%%sql
SELECT 
    t1.ts_code,
    t1.trade_date,
    t1.x - LAG(t1.x, 9) OVER (ORDER BY t1.trade_date) AS `alpha053`
FROM (
    SELECT
        ts_code,
        trade_date,
        ((`close` - `low`) - (`high` - `close`)) / (`close` - `low`) AS `x`
    FROM `tushare`
    ORDER BY
        ts_code,
        trade_date
) AS t1
ORDER BY
    t1.ts_code,
    t1.trade_date
LIMIT 10
OFFSET 10;

### Alpha101
$$
\begin{aligned}
\Alpha_{101} =  (\text{close} - \text{open}) / (\text{high} - \text{low} + 0.001)
\end{aligned}
$$

In [ ]:
%%sql
SELECT 
    ts_code,
    trade_date,
    (close - open) / (high - low + 0.001) AS 'alpha101'
FROM `tushare`
ORDER BY
        ts_code,
        trade_date
LIMIT 10;

## 第二题：JSON

### 操作1

In [ ]:
%%sql

DROP table IF EXISTS `employees`;

CREATE TABLE `employees` (
    `id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `info` JSON,
    PRIMARY KEY (`id`)
)

In [ ]:
from typing import List, Dict

with open('employees.txt', 'r') as file:
    lines = file.readlines()

# deliminators
c1 = '\x01' 
c2 = '\x02'
c3 = '\x03'

class Information:
    def __init__(self):
        self.name: str = ""
        self.salary: float = 0.0
        self.subordinates: List[str] = []
        self.deductions: Dict[str, float] = {}
        self.address: Dict[str, str] = {}

infos = []
for line in lines:
    i = Information()
    values = line.strip().split(c1)
    i.name = values[0]
    i.salary = float(values[1])
    i.subordinates = values[2].split(c2) if values[2] else []

    deductions = values[3].split(c2)
    for d in deductions:
        tmp = d.split(c3)
        tmp[0] = tmp[0].replace(' ', '_')
        i.deductions[tmp[0]] = float(tmp[1])
    
    addresses = values[4].split(c2)
    i.address["street"] = addresses[0]
    i.address["city"] = addresses[1]
    i.address["state"] = addresses[2]
    i.address["zip"] = addresses[3]

    infos.append(i)
    print(i.__dict__)

In [ ]:
from json import dumps

emp_insert_sql = "INSERT INTO `employees` (`info`) VALUES (%s)"

count = 0
for i in infos:
    js = dumps(i.__dict__)
    cursor.execute(emp_insert_sql, (js,))
    count += 1

if count == len(infos):
    db.commit()
else:
    db.rollback()
    print(count, len(infos))

In [ ]:
%%sql
SELECT * FROM `employees`;

### 操作2

In [ ]:
%%sql

# 查询员工工资高于90000的员工的姓名和工资

select JSON_EXTRACT(info, '$.name') as name, JSON_EXTRACT(info, '$.salary') as salary from employees where JSON_EXTRACT(info, '$.salary') > 90000;

In [ ]:
%%sql

# 查询所有员工及其下属姓名

select JSON_EXTRACT(info, '$.name') as name, JSON_EXTRACT(info, '$.subordinates') as subordinates from employees;

In [ ]:
%%sql

# 查询所有住址为Chicago的员工

select JSON_EXTRACT(info, '$.name') as name from employees where JSON_SEARCH(info, 'all', 'Chicago') is not null;

In [ ]:
%%sql

# 根据insurance的大小对员工进行排序

select JSON_EXTRACT(info, '$.name') as name from employees order by JSON_EXTRACT(info, '$.deductions.Insurance') desc;

In [ ]:
%%sql

# 查询员工的住址信息

select JSON_EXTRACT(info, '$.name') as name, JSON_EXTRACT(info, '$.address.zip') as zip, JSON_EXTRACT(info, '$.address.city') as city, JSON_EXTRACT(info, '$.address.state') as state, JSON_EXTRACT(info, '$.address.street') as street from employees;

### 操作3

In [ ]:
%%sql


select name, salary, subordinates, Federal_Taxes, State_Taxes, Insurance, street, city, state, zip
from employees, json_table(info, '$' columns (
    name varchar(40) path '$.name',
    salary int path '$.salary',
    nested path '$.subordinates[*]' columns ( subordinates varchar(40) path '$' ),
    Federal_Taxes  varchar(40) path '$.deductions.Federal_Taxes',
    State_Taxes float path '$.deductions.State_Taxes',
    Insurance float path '$.deductions.Insurance',
    street varchar(40) path '$.address.street',
    city varchar(40) path '$.address.city',
    state varchar(40) path '$.address.state',
    zip varchar(40) path '$.address.zip')
    ) as t ;

### 操作4

In [ ]:
%%sql

drop table if exists Assembly;

create table Assembly(
id  int not null primary key auto_increment, 
part char(20),
subpart char(20));

insert into Assembly values 
(1,'trike','wheel'),
(2,'trike','frame'),
(3,'frame','seat'),
(4,'frame','pedal'),
(5,'wheel','spoke'),
(6,'wheel','tire'),
(7,'tire','rim'),
(8,'tire','tube');

select * from Assembly;

由于mysql中对绘图功能的支持，我们采用如下递归查询来查询每个节点在树中的层级，从而表示出树形结构。

In [ ]:
%%sql

with recursive Components (level, id, part, subpart ) as
( select 0 as level, id, part, subpart 
    from Assembly where part = 'trike'
    union all
    select C.level+1,A.id, A.part, A.subpart
    from Assembly A, Components C 
    where A.part = C.subpart 
    )
select * from Components;

In [79]:
%%sql

drop table if exists s_son;
create table s_son 
select part, concat('[', group_concat(subpart separator ','),']') as sons  from Assembly group by part;

 * mysql://stu2000012942:***@162.105.146.37:43306
0 rows affected.
4 rows affected.

[]

In [80]:
%%sql

select * from s_son

 * mysql://stu2000012942:***@162.105.146.37:43306
4 rows affected.

[('frame', '[seat,pedal]'),
 ('tire', '[rim,tube]'),
 ('trike', '[wheel,frame]'),
 ('wheel', '[spoke,tire]')]

In [69]:
%%sql


with recursive Components (level, part, json_son ) as
( select 0 as level,  part, CONCAT('[',part,']') as json_son
    from s_son where part = 'trike'
    union all
    select C.level+1, s_son.part, json_insert(C.json_son, json_search(s_son.sons, 'one', C.json_son), C.json_son) as json_son
    from s_son, Components C
    where json_search(s_son.sons, 'one', C.json_son) is not null 
    )
select * from Components;

 * mysql://stu2000012942:***@162.105.146.37:43306
1 rows affected.

[(0, 'trike', '["trike", "[\\"wheel\\",\\"frame\\"]"]')]

In [88]:
%%sql

WITH RECURSIVE tree AS (
    SELECT 
        id, 
        part, 
        subpart, 
        NULL as parent,
        CONCAT('[', part) as json
    FROM 
        Assembly
    WHERE 
        part = 'trike'
    UNION ALL
    SELECT 
        child.id, 
        child.part, 
        child.subpart, 
        tree.id as parent,
        CONCAT(',', child.part) as json
    FROM 
        Assembly child
        JOIN tree ON tree.subpart = child.part
)
SELECT 
    tree.json
FROM 
    (
        SELECT 
            CONCAT(
                tree.json, 
                COALESCE(
                    CONCAT('[', GROUP_CONCAT(child.json SEPARATOR ''), ']'), 
                    ''
                )
            ) as json,
            tree.id as node_id,
            tree.parent as parent_id
        FROM 
            tree
            LEFT JOIN tree child ON child.parent = tree.id
        GROUP BY 
            tree.id
    ) json_tree
WHERE 
    NOT EXISTS (
        SELECT parent_id
        FROM json_tree child
        WHERE child.parent_id = tree.node_id
    );

 * mysql://stu2000012942:***@162.105.146.37:43306
(pymysql.err.ProgrammingError) (1146, "Table 'stu2000012942.json_tree' doesn't exist")
[SQL: WITH RECURSIVE tree AS (
    SELECT
        id,
        part,
        subpart,
        NULL as parent,
        CONCAT('[', part) as json
    FROM
        Assembly
    WHERE
        part = 'trike'
    UNION ALL
    SELECT
        child.id,
        child.part,
        child.subpart,
        tree.id as parent,
        CONCAT(',', child.part) as json
    FROM
        Assembly child
        JOIN tree ON tree.subpart = child.part
)
SELECT
    tree.json
FROM
    (
        SELECT
            CONCAT(
                tree.json,
                COALESCE(
                    CONCAT('[', GROUP_CONCAT(child.json SEPARATOR ''), ']'),
                    ''
                )
            ) as json,
            tree.id as node_id,
            tree.parent as parent_id
        FROM
            tree
            LEFT JOIN tree child ON child.parent = tree.id
        GROUP BY
            tree.id
    ) json_tree
WHERE
    NOT EXISTS (
        SELECT parent_id
        FROM json_tree child
        WHERE child.parent_id = tree.node_id
    );]
(Background on this error at: https://sqlalche.me/e/20/f405)